.messages-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.search-bar {
    margin-bottom: 10px;
    text-align: center;
}

.search-bar input {
    width: 50%;
    max-width: 400px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.messages-table {
    width: 100%;
    border-collapse: collapse;
}

.messages-table th,
.messages-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.messages-table th {
    background-color: #f5f5f5;
}

.messages-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.active-row {
    background-color: #d3f0ff !important;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #bb2d05;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff0000;
}

.message-detail {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fafafa;
}

.message-detail h3 {
    margin-bottom: 10px;
}

.message-body {
    white-space: pre-wrap;
}


@media (max-width: 768px) {
    .search-bar input {
        width: 90%;
    }

    .messages-table th,
    .messages-table td {
        font-size: 12px;
        padding: 6px;
    }

    .delete-btn {
        padding: 4px 8px;
        font-size: 12px;
    }
}