

.booking-history-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 15px;
    font-family: Arial, sans-serif;
}

.booking-history-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.booking-history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.booking-history-table th,
.booking-history-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;

}

.booking-history-table th {
    background-color: #174595;
    color:white;
    font-weight: bold;
}

.booking-history-table tr:nth-child(even) {
    background-color: #fafafa;
}

.booking-history-table tr:hover {
    background-color: #e6f7ff;
}

.booking-history-table td {
    font-size: 14px;
    color: #555;
}


.booking-history-container p {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .booking-history-table th,
    .booking-history-table td {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .booking-history-container {
        padding: 10px;
    }

    .booking-history-table th,
    .booking-history-table td {
        font-size: 10px;
        padding: 6px;
    }

    .booking-history-container h2 {
        font-size: 20px;
    }
}
