.book {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.book-items-title,
.book-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.book-item>div.providers-input-container {
    display: flex;
    align-items: center;
    gap: 4px;

}

.providers-input-container label {
    white-space: nowrap;

    font-weight: 600;
    font-size: 14px;
}

.providers-input-container input {
    width: 50px;

    padding: 4px 6px;
    font-size: 14px;
}

.book-item-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.cross-icon {
    width: 20px;
    height: 20px;
}

.book hr {
    height: 1px;
    background-color: 1px solid #ccc;
    border: none;
}

.book-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.confirm-btn {
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #3763a0;

    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.confirm-btn:hover {
    background-color: #003d99;

}

@media (max-width: 750px){
    .book-footer {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
    }

    .book-total {
        text-align: center;
        margin-bottom: 10px;
    }

    .confirm-btn {
        width: 100%;
    }
}