@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: antiquewhite;
}


.app-content {
  display: flex;
  min-height: calc(100vh - 80px);
  
}



.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 20px;
}


.form-wrapper {
  width: 100%;
  max-width: 600px;

}


