.list-container {
    padding: 20px;
    background: #fff;
    width: 100%;
}


.list-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}


.list-table {
    width: 100%;
    border: 1px solid #ddd;
}



.list-table-format {
    display: grid;
    grid-template-columns: 120px 1.5fr 1fr 1fr 1fr;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
}


.list-table-format.title {
    background: #f7f7f7;
    font-weight: 600;
}


.list-table-format img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
}


.action-btns {
    display: flex;
    gap: 10px;
}

.edit-btn {
    padding: 6px 12px;
    background: #5c8bc9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    padding: 6px 12px;
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn:hover {
    background: #132b5c;
}

.delete-btn:hover {
    background: #e53935;
}

@media (max-width:600px){
    .list-table-format{
        grid-template-columns: 1fr  3fr 1fr;
        gap:15px;
    }
    .list-table-format.title{
        display: none;
    }

}