.service-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.add {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}



.flex-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-img-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.add-img-upload p {
    font-weight: bold;
    color: #111827;
}

.add-img-upload img {
    border: 2px dashed #9ca3af;
    border-radius: 12px;
    padding: 5px;
    transition: transform 0.2s;
}

.add-img-upload img:hover {
    transform: scale(1.05);
}


.add-service-name input,
.add-service-desc textarea,
.add-category select,
.add-price_info input {
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    outline: none;
    transition: border-color 0.2s;
}

.add-service-name input:focus,
.add-service-desc textarea:focus,
.add-category select:focus,
.add-price_info input:focus {
    border-color: #2563eb;
}


.add-service-name p,
.add-service-desc p,
.add-category p,
.add-price_info p {
    font-weight: 600;
    margin-bottom: 5px;
    color: #374151;
}

.add-category-price_info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.add-category,
.add-price_info {
    flex: 1;
}

.add-btn {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #5c8bf0;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.add-btn:hover {
    background-color: #1132a1;
    transform: scale(1.02);
}


@media (max-width: 600px) {
    .add {
        margin: 20px;
        padding: 20px;
    }

    .add-category-price_info {
        flex-direction: column;
        gap: 15px;
    }
}