.service-item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    height: 180px;
    border-radius: 12px;
}

.service-item {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

.service-item-info {
    padding: 20px;

}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;

}


.service-name {

    font-weight: 500;
    font-size: 20px;
    color: #222;
    white-space: normal;
    flex-shrink: 1;
    max-width: 70%;
}

.service-item-desc {
    color: black;
    font-size: 15px;
    margin-top: 5px;

}

.service-item-price {
    margin-top: 5px;
    color:  #678ef2;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.service-item:hover {
    transform: translateY(-5px);
}

.book-now-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 20px;
    background-color: #678ef2;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100%;
}

.book-now-btn:hover {
    background-color: #314a89;

}