.service-detail {
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    display: flex;
    gap: 50px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}


.service-detail img {
    width: 420px;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
}


.service-detail-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.service-detail-info h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.service-detail-info p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 12px;
}


.service-detail-info strong {
    font-size: 22px;
    color: black;
}


.rating {
    margin: 10px 0 20px;
    font-size: 18px;
}


.service-features {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.service-features li {
    font-size: 15px;
    margin-bottom: 8px;
    color: #333;
}


.service-detail-info button {
    width: fit-content;
    padding: 14px 26px;
    font-size: 16px;
    font-weight: 500;
    background-color: #3763a0;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.service-detail-info button:hover {
    background-color: #003d99;
    transform: translateY(-2px);
}


@media (max-width: 900px) {
    .service-detail {
        flex-direction: column;
        padding: 20px;
    }

    .service-detail img {
        width: 100%;
        height: 260px;
    }

    .service-detail-info h2 {
        font-size: 24px;
    }

    .service-detail-info strong {
        font-size: 20px;
    }

    .service-detail-info button {
        width: 100%;
        text-align: center;
    }
}