.explore-service {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.explore-service h1 {
    color: rgb(8, 8, 10);
    font-weight: 500;
}

.explore-service-text {
    max-width: 60%;
    color: black;
}

.explore-service-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.explore-service-list::-webkit-scrollbar{
    display: none;
}

.explore-service-list-item {
    text-align: center;
    width: 150px;

}
.explore-service-list-item p{
    margin-top:10px;
    color:black;
    font-size: max(1.4vw, 16px);
    cursor:pointer;
}

.explore-service-list-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    min-width:80px;
    cursor:pointer;
    transition: 0.2s;;

}
.explore-service hr{
    margin:10px 0px;
    height:2px;
    background-color: rgb(169, 167, 167);
    border:none;
}
.explore-service-list-item .active{
    border:4px solid tomato;
    padding:2px;
}