.footer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: rgb(4, 21, 74);
    padding-top: 80px;
    padding-bottom: 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}



.footer-content-left {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
}
.footer ul li {
    color: white;
}
.footer h2 {
    color: white;
}
.footer-copyright{
    color:white;
    margin-left: 15px;
}

.footer-content-left img:first-child {
    width: 150px;
    cursor: pointer;
}


.footer-social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footer-social-icons svg {
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: white;
    color: #3b5998;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}


.footer-social-icons svg:hover {
    transform: scale(1.1);
    color: #1da1f2;
}

@media (max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-copyright {
        text-align: center;
    }
}