.footer {
    color: white;
    background-color: rgb(4, 21, 74);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}


.footer-content-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
}


.footer-content-left img:first-child {
    width: 150px;
    cursor: pointer;
}


.footer-social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footer-social-icons svg {
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: white;
    color: #3b5998; 
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}


.footer-social-icons svg:hover {
    transform: scale(1.1);
    color: #1da1f2; 
}

@media (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap:35px;
    }
    .footer-copyright{
        text-align: center;
    }
}
