.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.logo {
    width: 120px;
    height: auto;
}

.profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}