.header {
    height: 34vw;
    margin: 30px auto;
    position: relative;
    background: url('../../../public/header2.jpg') no-repeat center center;
    background-size: cover;
}

.header-contents {
    position: absolute;
    bottom: 10%;
    left: 6vw;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    max-width: 50%;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    font-size: max(4.5vw, 22px);
    color: black;
}

.header-contents p {
    margin-top: 30px;

    color: rgb(11, 2, 2);
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: rgb(32, 24, 188);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;

}