.container {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
}

.container img {
    flex: 1 1 300px;
    max-width: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.container .text {
    flex: 1 1 300px;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
}

.why-choose-us {
    display: flex;
    gap: 2rem;

    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 5rem;
}

.why-box {
    flex: 1 1 30%;

    border: 2px solid #04154a;

    border-radius: 10px;
    padding: 2rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.why-box b {
    font-size: 1.1rem;
    color: #04154a;
}

.why-box p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.6;
}

@media (max-width: 1024px) {
    .why-box {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {
    .why-box {
        flex: 1 1 100%;
    }
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container img,
    .container .text {
        flex: 1 1 100%;
        max-width: 100%;
    }
}