.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    margin-top: 30px;
    position: relative;
}

.logo {
    width: 100px;
}

/* Center menu */
.navbar-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: black;
    border: 1px solid rgb(47, 114, 114);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: rgb(157, 165, 247);
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(172, 172, 243);
}

.navbar li {
    cursor: pointer;
}

.search-icon {
    width: 20px;
    cursor: pointer;
}


@media (max-width: 1050px) {
    .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 25px;
    }

    .search-icon {
        width: 18px;
    }

    .navbar button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;

    }

    .logo {
        width: 110px;
    }
}