.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    margin-top: 30px;
    position: relative;
}

.logo {
    width: 100px;
}


.navbar-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: black;
    border: 1px solid rgb(47, 114, 114);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: rgb(157, 165, 247);
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(172, 172, 243);
}

.navbar li {
    cursor: pointer;
}

.search-icon {
    width: 20px;
    cursor: pointer;
}

.navbar-profile {
    position: relative;
    cursor: pointer;
}

.navbar-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
}


.nav-profile-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
}


.navbar-profile:hover .nav-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.nav-profile-dropdown li:hover {
    background-color: #f0f0f0;
}

.nav-profile-dropdown li img {
    width: 20px;
    height: 20px;
}

.badge {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: top;
}



@media (max-width: 1050px) {
    .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 25px;
    }

    .search-icon {
        width: 18px;
    }

    .navbar button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;

    }

    .logo {
        width: 110px;
    }
}